<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ToDoing</title>

    <link rel="stylesheet" href="{{url_for('static', filename='/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">

    <link rel="manifest" href="/manifest.json">
    <script src="/static/jq.js"></script>
    <script src="/static/app.js"></script>
</head>

<body>
    <div id="background-image"> </div>

    <div class="poppup" id=workspace>
        <h1>Welcome Back</h1>
        <div>
            <form id="add_task" method="post">
                <input type="text" placeholder="What To Do?" class="add_task" id="new_task" name="new_task"
                    value=""><br>
            </form>
        </div>

        <div>
            <ul id="list">

            </ul>

        </div>
    </div>

</body>

</html>
