<!DOCTYPE html>
<html>
	<head>
		<title>ToDoing</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='/login.css') }}">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
	</head>


	<body>
		<div id="background-image">
			<!--<img src="{{ url_for('static', filename='images/login-background.jpg') }}" class="background" />-->
		</div>

		<div class="poppup">
			<h1>Welcome to ToDoing</h1>
			<h2>Login</h2>
			<form action="/login" method="post">
				<input type="text" placeholder="Username..." class="login-input" id="user" name="user" value=""><br>
				<input type="text" placeholder="Password..." class="login-input" id="pass" name="pass" value=""><br><br>
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
