<!DOCTYPE html>
<html>
	<head>
		<title>ToDoing</title>
		<link rel="stylesheet" href="login.css">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet"
	</head>


	<body>
		<img src="{{ url_for('static', filename='images/login-background.jpg') }}" class="image" />

		<h1>Welcome to ToDoing</h1>
		<input type="text" placeholder="Username...">
		<input type="text" placeholder="Password...">
	</body>
</html>
