/* Colour Vars */
:root {
	--text: #4c4f69;
	--subtext0: #6c6f85;
}

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden
}

h1, h2 {
	font-family: "Gloock";
	color: var(--text);
	font-size: 46px;
	margin: 10px;
}

h2 {
	font-size: 32px;	
}

.tab {
	overflow: hidden;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
}

::placeholder {
	font-family: "JetBrains Mono";
	font-style: italic;
	color: var(--subtext0); 
	opacity: 1;
}

.login-input {
	padding: 4%;
	border-radius: 28px;
	background-color: #9ca0b0;
	border: none;
	margin: 3%;
	width: 70%;
	font-family: "JetBrains Mono";
	color: var(--text); 
}

#background-image {
	background-image: url("/static/images/login-background.jpg");
	background-repeat: no-repeat;
	filter: blur(8px) brightness(60%);
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
}

.poppup {
	filter: blur(0px);
	width: 340px;
	height: 420px;
	background-color: #dce0e8;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	padding: 1vh;
	border-radius: 28px;
}
